.accordion {
  width: 100%;
  /* max-width: 20%; */
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  background: #f9f9f9;
  transition: background 0.3s ease;
}

.accordion-header:hover {
  background: #f0f0f0;
}

.accordion-header h3 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

.icon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 15px;
}

.accordion-content.show {
  max-height: 200px;
  padding: 10px 15px;
}

.accordion-content p {
  margin: 0;
  color: #555;
}