.login-main-container {
  margin: 2rem;
}

.login-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.login-form-group input,
.login-form-group select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.login-form-group input[type="checkbox"] {
  width: auto;
}

.login-form-group .error {
  color: red;
  font-size: 12px;
}

.login-container button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #0056b3;
}

.dashboard-container {
  padding: 20px;
}

.user-form,
.user-list {
  margin-bottom: 20px;
}

.login-form-group {
  margin-bottom: 15px;
}

.password-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.buttonCss {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.buttonCss:hover {
  background-color: #e64a19;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}