.faculty-list-container {
  padding: 20px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab.active {
  background-color: #4CAF50;
  color: white;
}

.faculty-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.faculty-card {
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.faculty-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* .faculty-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
} */


.faculty-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.faculty_view_profile {
  color: #007bff;
  text-decoration: none;
}

.faculty-card>p {
  margin: 0;
}

.faculty_view_profile:hover {
  text-decoration: underline;
}