.canteen-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.canteen-gallery-section {
  padding-left: 20px;
  padding-top: 20px;
  /* max-height: 120vh; */
  width: 40%;
  /* No need for overflow hidden */
}

.canteen-gallery-slider {
  width: 100%;
}

/* Style the gallery items */
.canteen-gallery-item {
  display: flex;
  justify-content: center;
}

.canteen-gallery-image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slick-prev:before {
  /* margin-left: 10px; */
}

/* Custom arrows */
.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: black !important;
}

/* Center the arrows vertically */
.slick-prev,
.slick-next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: black;
}

/* Style for dots */
.slick-dots {
  bottom: 10px;
  /* Adjust position of dots from bottom */
}

.slick-dots li button:before {
  font-size: 12px;
  /* Adjust size of dots */
  color: black;
  /* Dot color */
}

.slick-dots li.slick-active button:before {
  color: #007bff;
  /* Active dot color */
}

.canteen-content-section {
  width: 55%;
  padding-left: 20px;
}

.canteen-section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.canteen-section-content,
.canteen-menu-list,
.canteen-facilities-list {
  font-size: 16px;
  line-height: 1.6;
}

.canteen-menu-list,
.canteen-facilities-list {
  list-style-type: disc;
  margin-left: 20px;
}