.admin-edit-table-container {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.admin-edit-table-container>h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2c3e50;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.admin-edit-table-container>p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
  font-family: 'Arial', sans-serif;
  /* text-align: center; */
  /* Center the text inside the paragraph */
}

/* Ordered List */
.admin-edit-table-container>ol {
  margin-left: 0;
  /* Override list margin */
  padding-left: 0;
  /* Remove default padding */
  display: inline-block;
  /* Center the list items */
  text-align: left;
  /* Align list items to the left inside inline-block */
}

/* Table Styling */
.admin-edit-table-container>table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.admin-edit-table-container>table th,
.admin-edit-table-container>table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.admin-edit-table-container>table th {
  background-color: #3498db;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

/* Specific for first column */
.admin-edit-table-container>table td:first-child {
  text-align: center;
}

/* Center the table in the container */
.admin-edit-table-container table {
  margin-left: auto;
  margin-right: auto;
}