.society-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
}

.society-content {
  flex: 2;
}

.society-incharge-section {
  flex: 1;
  margin-left: 20px;
}

.society-incharge-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.society-incharge-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.society-incharge-name {
  font-weight: 900;
}

.society-incharge-name,
.society-incharge-designation,
.society-incharge-department,
.society-incharge-phone,
.society-incharge-email {
  /* margin-bottom: 10px; */
  color: #333;
}

.society-page-title {
  color: #4c51bf;
  margin-bottom: 20px;
  text-align: center;
}

.society-section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.society-section-title {
  color: #2d3748;
  margin-bottom: 10px;
}

.society-section-content {
  color: #333;
}

.society-section-list {
  list-style-type: disc;
  padding-left: 20px;
}

.society-list-item {
  margin-bottom: 10px;
}


.society-gallery {
  margin-top: 20px;
}

.society-gallery-image {
  width: 100%;
  height: auto;
  /* Removes the fixed height */
  object-fit: contain;
  /* Ensures the entire image is visible */
  object-position: center;
}

.society-gallery-slider .society-gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: auto;
  /* Adjusts based on content */
  max-height: 400px;
  /* Set a max height to prevent oversized images */
}

.society-gallery-slider {
  max-height: 400px;
  /* Prevent the slider itself from becoming too tall */
}