.principals-page {
  text-align: center;
}

.principals-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.principals-table th,
.principals-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.principalview-button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.principalview-button:hover {
  background-color: #0056b3;
}

/* Modal styling */
.former_principal_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.former_principal_modal-content {
  height: 520px;
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.former_principal-photo {
  object-fit: cover;
  width: 450px;
  height: 450px;
  margin-top: 20px;
}

.former_principal_close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}