/* Header Container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border-bottom: 2px solid #d1d5db;
  padding: 0rem 2rem;
  position: relative;
}

/* Logo Section */
.logo-section {
  flex: 0 0 10%;
}

/* College Logo */
.college-logo {
  width: 8rem;
  height: auto;
}

/* Department Logo */
.amrith-logo {
  width: 8rem;
  height: auto;
}

/* Name Section */
.name-section {
  flex: 1;
  text-align: center;
}

/* College Name in English */
.college-name-english {
  font-family: 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  color: #333;
  margin: 0;
}

/* College Name in Kannada */
.college-name-kannada {
  font-family: 'Noto Sans Kannada', sans-serif;
  font-size: 1.2rem;
  color: #555;
  margin: 0;
}

/* Contact Info */
.contact-info {
  position: absolute;
  right: 10rem;
  bottom: 1rem;
  text-align: right;
  font-size: 0.8rem;
  color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {

  .college-logo,
  .amrith-logo {
    width: 50px;
  }

  .college-name-english {
    font-size: 1.5rem;
  }

  .college-name-kannada {
    font-size: 1.2rem;
  }

  .contact-info {
    font-size: 0.7rem;
  }
}