.admin-edit-table-container {
  position: relative;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 2rem 0;
}

.admin-edit-table-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.admin-edit-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
}

.admin-edit-table th,
.admin-edit-table td {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: left;
}

.admin-edit-table th {
  background-color: #f1f1f1;
  color: #333;
}

.admin-edit-table td {
  color: #555;
}

.admin-edit-table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}